<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2 translate="main.title" ng-if="!vm.isAuthenticated()">Welcome to maurus !</h2>
    <h2 translate="main.titleNamed" translate-values="{firstName: '{{vm.account.firstName}}', lastName: '{{vm.account.lastName}}'}"
        ng-if="vm.isAuthenticated() && vm.account.firstName">Welcome to maurus !</h2>
    <h2 translate="main.titleNamed" translate-values="{firstName: '{{vm.account.login}}'}"
        ng-if="vm.isAuthenticated() && !vm.account.firstName">Welcome to maurus !</h2>
    <ol class="breadcrumb">
      <li class="active">
        <strong translate="main.subtitle">This is your homepage</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content" ng-cloak>
  <div class="row">
    <div class="col-md-4">
      <span class="hipster img-responsive img-rounded"></span>
    </div>
    <div class="col-md-8">
      <h1 translate="main.title">Welcome, Java Hipster!</h1>

      <p class="lead" translate="main.subtitle">This is your homepage</p>

      <div ng-switch="vm.isAuthenticated()">
        <div class="alert alert-success" ng-switch-when="true" translate="main.logged.message"
             translate-values="{username: '{{vm.account.login}}'}">
          You are logged in as user "{{vm.account.login}}".
        </div>

        <div class="col-lg-10">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Demo video</h5>
            </div>
            <div class="ibox-content">
              <div id="video">
                <div id="player"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.authenticated">
          If you want to <a class="alert-link" href="#/login">sign in</a>, you can try the default accounts:<br/>-
          Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
        </div>

        <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.register">
          You don't have an account yet? <a class="alert-link" href="#/register">Register a new account</a>
        </div>
      </div>

    </div>
  </div>
</div>
