<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{email.social.registration.title}">p2p-webtv activation</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="#{email.social.registration.greeting(${user.firstName})}">
  Dear
</p>

<p th:text="#{email.social.registration.text1(${provider})}">
  Your p2p-webtv account has been created with the social connection: Provider.
</p>

<p>
  <span th:text="#{email.social.registration.text2}">Regards, </span>
  <br/>
  <em th:text="#{email.signature}">p2p-webtv.</em>
</p>
</body>
</html>
