<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2 translate="tv.feed.title">Your feed</h2>
    <ol class="breadcrumb">
      <li>
        <a translate="global.menu.tv.main">Tv</a>
      </li>
      <li class="active">
        <strong><a ui-sref="tv-feed" href="#/tv/feed" translate="global.menu.tv.feed">Your feed</a></strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div ng-if="vm.feedItems.length" class="ibox-content m-b-sm border-bottom">
    <div class="row">
      <div class="p-xs">
        <div class="pull-left top-filter-icon-wrapper">
         <a ng-click="vm.clearFilter()" title="Clear filter"><i class="fa fa-angle-right text-navy mid-icon"></i></a>
        </div>
        <div class="top-filter">
          <input type="text" ng-model="vm.filter.showTitle" ng-change="vm.filterActive()" class="form-control input-lg"
                 placeholder="{{ 'tv.filter' | translate }}">
        </div>
      </div>
    </div>
  </div>

  <div class="ibox-content forum-container" infinite-scroll="vm.loadPage(vm.page + 1)"
       infinite-scroll-disabled="(vm.links['last'] == vm.page) || vm.filter.showTitle" infinite-scroll-distance="0">
    <h2 ng-if="!vm.feedItems.length" translate="tv.feed.nothingHere">Nothing here yet! Please favorite a show first!</h2>

    <div class="forum-item active" ng-repeat="feedItem in vm.feedItems|filter:vm.filter track by $index">
      <div class="row">
        <div class="col-md-9">
          <div class="forum-icon">
            <a ng-href="{{feedItem.magnetUri}}"><i
              class="fa fa-magnet"></i></a><br/>
          </div>
          <a ui-sref="tv-feed.watch({'tvdbId':feedItem.tvdbId, 'episode':feedItem})" class="forum-item-title">
            {{feedItem.showTitle}} S{{feedItem.seasonNumber}}E{{feedItem.episodeNumber}} {{feedItem.episodeTitle}}</a>

          <div class="forum-sub-title">{{feedItem.overview}}</div>
        </div>
        <div class="col-md-1 forum-info">
          <span class="views-number"> {{feedItem.seeds}}</span>

          <div>
            <small translate="tv.feed.seeds">seeds</small>
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <span class="views-number">{{feedItem.leeches}}</span>

          <div>
            <small translate="tv.feed.leeches">leeches</small>
          </div>
        </div>
        <div class="col-md-1 forum-info">
          <span class="views-number">{{feedItem.airDate | date:'dd MMM'}}</span>

          <div>
            <small>{{feedItem.airDate | date:'yyyy'}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
