<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2 translate="audits.title">Audits</h2>
    <ol class="breadcrumb">
      <li>
        <a translate="global.menu.admin.main">Admin</a>
      </li>
      <li class="active">
        <strong><a ui-sref="audits" href="#/audits" translate="global.menu.admin.audits">Audits</a></strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-md-5">
      <h4 translate="audits.filter.title">Filter by date</h4>

      <p class="input-group">
        <span class="input-group-addon" translate="audits.filter.from">from</span>
        <input type="date" class="input-sm form-control" name="start" ng-model="vm.fromDate" ng-change="vm.onChangeDate()"
               required/>
        <span class="input-group-addon" translate="audits.filter.to">to</span>
        <input type="date" class="input-sm form-control" name="end" ng-model="vm.toDate" ng-change="vm.onChangeDate()"
               required/>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h4>Audits</h4>
        </div>
        <div class="ibox-content">

          <table class="table table-condensed table-striped table-bordered table-responsive">
            <thead>
            <tr>
              <th ng-click="predicate = 'timestamp'; reverse=!reverse"><span translate="audits.table.header.date">Date</span>
              </th>
              <th ng-click="predicate = 'principal'; reverse=!reverse"><span
                translate="audits.table.header.principal">User</span>
              </th>
              <th ng-click="predicate = 'type'; reverse=!reverse"><span translate="audits.table.header.status">State</span>
              </th>
              <th ng-click="predicate = 'data.message'; reverse=!reverse"><span
                translate="audits.table.header.data">Extra data</span></th>
            </tr>
            </thead>

            <tr ng-repeat="audit in vm.audits | filter:filter | orderBy:predicate:reverse" ng-hide="audit.filtered">
              <td><span>{{audit.timestamp| date:'medium'}}</span></td>
              <td>
                <small>{{audit.principal}}</small>
              </td>
              <td>{{audit.type}}</td>
              <td>
                <span ng-show="audit.data.message">{{audit.data.message}}</span>
                <span ng-show="audit.data.remoteAddress"><span
                  translate="audits.table.data.remoteAddress">Remote Address</span> {{audit.data.remoteAddress}}</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
