<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse" ng-switch="vm.isAuthenticated()">
    <ul side-navigation class="nav metismenu" id="side-menu">
      <!-- Nav header -->
      <li class="nav-header">
        <!-- Profile -->
        <div class="dropdown profile-element" dropdown ng-if="vm.isAuthenticated()">
          <img alt="image" class="img-circle" width="48" height="48"
               data-ng-src="{{'data:' + vm.account.pictureContentType + ';base64,' + vm.account.picture}}"
               ng-if="vm.account.picture"/>
          <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs"><strong class="font-bold">{{vm.account.firstName + ' ' +
                                  vm.account.lastName}}</strong></span>
                            </span>
          </a>
        </div>

        <div class="logo-element">
          MAU
        </div>
      </li>

      <!-- Home -->
      <li ui-sref-active="active">
        <a ui-sref="home">
          <i class="glyphicon glyphicon-home"></i>
          <span class="nav-label" translate="global.menu.home">Home</span>
        </a>
      </li>

      <!-- Tv -->
      <li ng-class="{active: vm.state.includes('tv')}">
        <a href="">
          <i class="fa fa-film"></i>
          <span class="nav-label" translate="global.menu.tv.main">TV</span>
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
          <li ui-sref-active="active" ng-switch-when="true">
            <a ui-sref="tv-feed">
              <i class="fa fa-server"></i>
              {{'global.menu.tv.feed' | translate}}
            </a>
          </li>
          <li ui-sref-active="active" ng-switch-when="true">
            <a ui-sref="tv-popular">
              <i class="glyphicon glyphicon-facetime-video"></i>
              {{'global.menu.tv.popular' | translate}}
            </a>
          </li>
        </ul>
      </li>

      <!-- Entities -->
      <li ui-sref-active="active" ng-switch-when="true">
        <a href="">
          <i class="glyphicon glyphicon-th-list"></i>
          <span class="nav-label" translate="global.menu.entities.main">Entities</span>
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
          <!-- jhipster-needle-002 - JHipster will add entities to the menu here -->
        </ul>
      </li>

      <!-- Account -->
      <li ng-class="{active: vm.state.includes('account')}">
        <a href="">
          <i class="glyphicon glyphicon-user"></i>
          <span class="nav-label" translate="global.menu.account.main">Account</span>
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
          <li ui-sref-active="active" ng-switch-when="true">
            <a ui-sref="settings">
              <i class="glyphicon glyphicon-wrench"></i>
              {{'global.menu.account.settings' | translate}}
            </a>
          </li>
          <li ui-sref-active="active" ng-switch-when="true">
            <a ui-sref="password">
              <i class="glyphicon glyphicon-lock"></i>
              {{'global.menu.account.password' | translate}}
            </a>
          </li>
          <li ui-sref-active="active" ng-switch-when="true">
            <a ui-sref="sessions">
              <i class="glyphicon glyphicon-cloud"></i>
              {{'global.menu.account.sessions' | translate}}
            </a>
          </li>
          <li ui-sref-active="active" ng-switch-when="true">
            <a href="" ng-click="vm.logout()">
              <i class="glyphicon glyphicon-log-out"></i>
              {{'global.menu.account.logout' | translate}}
            </a>
          </li>
          <li ui-sref-active="active" ng-switch-when="false">
            <a ui-sref="login">
              <i class="glyphicon glyphicon-log-in"></i>
              {{'global.menu.account.login' | translate}}
            </a>
          </li>
          <li ui-sref-active="active" ng-switch-when="false">
            <a ui-sref="register">
              <i class="glyphicon glyphicon-plus-sign"></i>
              {{'global.menu.account.register' | translate}}
            </a>
          </li>
        </ul>
      </li>
      <!-- Administration -->
      <li ng-class="{active: vm.state.includes('admin')}" ng-show="vm.isAdmin">
        <a href="">
          <i class="glyphicon glyphicon-tower"></i>
          <span class="nav-label" translate="global.menu.admin.main">Administration</span>
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
          <li ui-sref-active="active" ng-switch-when="true">
            <a ui-sref="user-management">
              <i class="glyphicon glyphicon-user"></i>
              {{'global.menu.admin.user-management' | translate}}
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="tracker" ng-switch-when="true">
              <i class="glyphicon glyphicon-eye-open"></i>
              {{'global.menu.admin.tracker' | translate}}
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="metrics" ng-switch-when="true">
              <i class="glyphicon glyphicon-dashboard"></i>
              {{'global.menu.admin.metrics' | translate}}
            </a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="health" ng-switch-when="true">
              <i class="glyphicon glyphicon-heart"></i>
              {{'global.menu.admin.health' | translate}}
            </a>
          </li>
          <li ui-sref-active="active" ng-switch-when="true">
            <a ui-sref="configuration">
              <i class="glyphicon glyphicon-list-alt"></i>
              {{'global.menu.admin.configuration' | translate}}
            </a>
          </li>
          <li ui-sref-active="active" ng-switch-when="true">
            <a ui-sref="audits">
              <i class="glyphicon glyphicon-bell"></i>
              {{'global.menu.admin.audits' | translate}}
            </a>
          </li>
          <li ui-sref-active="active" ng-switch-when="true">
            <a ui-sref="logs">
              <i class="glyphicon glyphicon-tasks"></i>
              {{'global.menu.admin.logs' | translate}}
            </a>
          </li>
          <li ng-hide="vm.inProduction" ui-sref-active="active" ng-switch-when="true">
            <a ui-sref="docs">
              <i class="glyphicon glyphicon-book"></i>
              {{'global.menu.admin.apidocs' | translate}}
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</nav>
