<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2 translate="login.title">Sign in</h2>
    <ol class="breadcrumb">
      <li>
        <a translate="global.menu.account.main">Account</a>
      </li>
      <li class="active">
        <strong><a ui-sref="login" href="#/login" translate="global.menu.account.login">Log in</a></strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="alert alert-danger" ng-show="vm.authenticationError" translate="login.messages.error.authentication">
    <strong>Failed to sign in!</strong> Please check your credentials and try again.
  </div>

  <div class="row">
    <div class="col-lg-8">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5 translate="login.form.title">Please log in:</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-6 b-r">
              <h3 class="m-t-none m-b" translate="login.form.account">Account login</h3>

              <form role="form" ng-submit="vm.login($event)">
                <div class="form-group">
                  <label for="username" translate="global.form.username">Login</label>
                  <input type="text" class="form-control" id="username"
                         placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="vm.username">
                </div>
                <div class="form-group">
                  <label for="password" translate="login.form.password">Password</label>
                  <input type="password" class="form-control" id="password"
                         placeholder="{{'login.form.password.placeholder' | translate}}" ng-model="vm.password">
                </div>

                <div class="form-group">
                  <label> <input i-check type="checkbox" id="rememberMe" ng-model="vm.rememberMe">
                    <span translate="login.form.rememberme">Remember me</span></label>
                </div>

                <div class="form-group">
                  <button type="submit" ng-disabled="!vm.username || !vm.password"
                          class="btn btn-primary block full-width m-b" translate="login.form.button">
                    <strong>Sign in</strong>
                  </button>
                  <a class="alert-link" href="#/reset/request">
                    <small translate="login.password.forgot">Forgot password?</small>
                  </a>
                </div>

              </form>
            </div>
            <div class="col-sm-6">
              <h3 class="m-t-none m-b" translate="login.form.social">Social login</h3>
              <jh-social ng-provider="google"></jh-social>
              <jh-social ng-provider="facebook"></jh-social>
              <jh-social ng-provider="twitter"></jh-social>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
